/* general settings */
* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: darkslategrey;
  background-color: antiquewhite;
  margin: 1% 1%;
}
* main {
  display: flex;
  flex-wrap: wrap;
}
* a {
  text-decoration: none;
  color: darkslategrey;
}
* h2 {
  font-weight: 600;
  text-decoration: underline;
}
/* general settings */

/* header settings */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  display: inline;
  width: 500px;
}
header nav {
  display: inline;
}
nav a {
  margin: 5px;
}
/* header settings */
/* img settings */
.photo {
  display: inline;
  max-width: fit-content;
  background-color: white;
}
.photo figcaption {
  text-align: center;
}
/* img settings */
/* skills settings */
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
}
.skills h2 {
  text-align: center;
  width: 100%;
}
.skills p {
  background-color: darkslategrey;
  color: bisque;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  display: inline;
}

/* skills settings */
/* interests settings */
.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;

  padding-bottom: 0%;
}
.interests h2 {
  text-align: center;
  width: 100%;
}
.interests p {
  background-color: darkslategrey;
  color: bisque;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  display: inline;
}
/* interests settings */
/* contact settings */
/* contact settings */
/* social settings */
/* social settings */
/* about settings */
/* about settings */
/* cv settings */
/* cv settings */
/* footer settings */
/* footer settings */
.play {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
